<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DroidTools"
        tools:targetApi="31">
        <activity
            android:name=".Notepad.UpdateContent"
            android:exported="false" />
        <activity
            android:name=".LicenseExp.Expire"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.droidtools.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ShowUplodedDataFromDatabase.FetchFileFromDB"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordTools.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".FileUploadOnServer.UploadFiles"
            android:exported="false" />
        <activity
            android:name=".TextToPDFTools.TextToPdfFromImage"
            android:exported="false" />
        <activity
            android:name=".AppMenu.HomeDashboard"
            android:exported="false" />
        <activity
            android:name=".PdfToTextTools.PdfToText"
            android:exported="false" />
        <activity
            android:name=".ImageToTextTools.ImageToText"
            android:exported="false" />
        <activity
            android:name=".UserDashboard.UserDashBoardSettings"
            android:exported="false" />
        <activity
            android:name=".TextToPDFTools.TextToPdf"
            android:exported="false" />
        <activity
            android:name=".UserDashboard.UserDetailsShow"
            android:exported="false" />
        <activity
            android:name=".Notepad.QuickNoteInputPage"
            android:exported="false" />
        <activity
            android:name=".Notepad.NotePadStartInterface"
            android:exported="false" />
        <activity
            android:name=".AppMenu.AppMenuPage"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignUp.SignUpPage"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignUp.LoginOrSignUpPage"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignUp.LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>